---
// CSS dosyasını içe aktarma
import "./css/Header.css";
import Form from './Form.jsx'
const { t } = Astro.props;
---
 
<div id="scrollBanner" class="scroll-banner" onclick="redirectToGraftWithUTM();">
  <span>
    <svg     class="icon"  width="36" height="36" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.2939 12.7639C22.2445 13.2006 22.0203 13.9224 21.9295 14.4474C21.7704 15.3689 21.6407 15.8633 21.565 16.8524C21.3705 19.3986 21.3911 20.1979 20.372 22.5857C19.1601 25.4261 17.1983 29.0781 13.3991 28.0013C10.7857 27.2605 8.84622 23.0989 8.11573 20.7253C7.69456 19.3573 7.74805 18.3415 7.59433 16.9725C7.51355 16.2529 7.4271 15.5263 7.35146 14.808C7.28744 14.2002 7.17667 13.6117 7.10859 13.0044C6.6288 8.73117 7.49356 4.5376 12.3315 3.32357C18.8716 1.68218 23.0023 6.50824 22.2939 12.7639ZM18.042 4.34643C17.0845 2.9399 13.9699 3.1804 12.4806 3.59142C12.3012 3.64102 11.1687 4.05606 11.1179 4.10781C10.8608 4.37002 11.3846 4.34 11.4818 4.34643V4.58693C11.2768 4.60999 11.1015 4.56494 10.8713 4.64082C9.88199 4.96738 9.17121 7.82039 9.17365 8.79552C9.33412 8.79069 9.49891 8.8049 9.65965 8.79552V9.03602C9.45461 9.00116 9.25577 8.95666 9.05316 8.91617C9.15933 9.27383 8.77976 11.0568 8.93024 11.201C8.97346 11.2423 9.61535 11.1715 9.78122 11.2005C9.69693 11.2064 9.3976 11.4322 9.17392 11.3214L9.29549 11.6815C9.2601 11.6743 9.21147 11.6799 9.17392 11.6815C9.09314 11.6847 9.01155 11.6756 8.93132 11.6807C8.96995 12.0461 8.82461 13.5409 9.07261 13.7087C9.1777 13.7798 9.41111 13.6991 9.53862 13.7256V13.8457C8.88107 13.6768 9.04235 14.1878 8.78787 14.6061C8.19677 15.578 7.78452 15.4775 7.83963 16.7912C7.86827 17.4693 8.03441 18.35 8.20217 19.0163C7.88907 20.7017 9.57401 21.8613 10.2875 23.1447C10.5377 23.5949 11.2165 25.7218 11.3559 25.8149C11.8211 26.1256 14.0369 25.4666 14.8271 25.5052C15.3874 25.5326 17.4995 26.1412 17.7797 25.9701C18.166 25.1634 18.2343 24.1893 18.6274 23.3836C19.1777 22.2557 20.3437 21.5776 20.6811 20.2459C20.8046 19.7587 20.7646 19.2308 20.8359 18.7758C20.9467 18.0715 21.3316 16.5038 21.1976 15.8319C21.1339 15.5112 20.2248 14.6608 20.107 14.2063C20.0905 14.1425 20.114 14.0441 20.107 13.9658C20.0425 13.2588 20.3313 12.5475 20.2386 11.8526C20.2016 11.5748 20.0127 11.7107 19.9855 11.6812C19.9576 11.6512 20.0119 11.4989 19.9855 11.4407C19.8717 11.19 19.1907 11.4509 19.0137 11.0801C19.4065 11.0431 19.832 11.1069 20.2291 11.0804L20.1078 9.03521C19.909 9.04862 19.6964 9.01484 19.4997 9.03575V8.79525C19.6548 8.77407 19.8277 8.81107 19.9852 8.79471C19.8898 7.85605 19.2374 4.76388 18.1635 4.58666C18.1716 4.47164 18.0922 4.41989 18.042 4.34616V4.34643ZM15.3086 26.3516C14.7248 26.3833 14.1304 26.3289 13.5472 26.3516C13.5212 26.524 13.8835 26.5412 14.0064 26.5578C14.3041 26.5988 15.5717 26.6227 15.7341 26.4704C16.1525 26.0779 15.3372 26.3498 15.3088 26.3514L15.3086 26.3516Z" fill="#6C5C59"/>
      <path d="M8.52077 13.5641C8.52077 13.5641 7.33453 4.66864 12.5977 3.42701C17.8608 2.18537 19.6079 5.41802 19.6079 5.41802L20.8349 14.1819L18.443 15.7579L9.53439 15.3187L8.5205 13.5644L8.52077 13.5641Z" fill="#483C3A"/>
      <path d="M22.9026 13.7253C22.7424 14.4208 22.2599 15.6726 21.9527 16.3319C21.8595 16.5322 21.7931 16.7534 21.5664 16.8518C21.642 15.863 21.7717 15.3683 21.9308 14.4468C22.4779 14.4747 22.3458 13.269 22.9026 13.7253Z" fill="#F9DCCD"/>
      <path d="M7.10924 13.0042C7.17732 13.6117 7.28808 14.2 7.35211 14.8078C6.90851 14.74 6.79397 13.9378 6.50247 13.6643L6.2588 13.9662C6.13993 13.6021 5.77792 13.1967 6.19666 12.7621C6.55218 12.3932 6.74615 12.9953 7.10897 13.0042H7.10924Z" fill="#EFC6B4"/>
      <path d="M6.25977 13.9655L6.50344 13.6636C6.79494 13.9373 6.90975 14.7392 7.35308 14.8071C7.42872 15.5254 7.51544 16.2519 7.59594 16.9716C7.1999 17.0032 7.08698 16.105 6.98864 15.7691L7.35038 15.9509C7.19882 15.8096 7.26771 15.5608 7.1691 15.4055C7.07455 15.2564 6.88247 15.3042 6.86707 15.2881C6.51398 14.9216 6.4097 14.4256 6.25977 13.9655Z" fill="#F9DCCD"/>
      <path d="M22.9014 13.7258C22.3446 13.2694 22.4767 14.4752 21.9297 14.4473C22.0205 13.9223 22.2447 13.2005 22.2941 12.7638C23.1689 12.4386 23.0368 13.1389 22.9014 13.7258Z" fill="#EFC6B4"/>
      <path d="M6.98819 15.7696C6.95037 15.6406 6.78882 15.499 6.86662 15.2886C6.88229 15.3047 7.0741 15.2569 7.16865 15.406C7.26726 15.5615 7.19837 15.8103 7.34992 15.9514L6.98819 15.7696Z" fill="#EFC6B4"/>
      <path d="M18.8924 14.327C19.051 14.6471 19.4405 14.8211 19.5943 15.1353C19.9112 15.7826 20.2667 17.4835 20.5303 18.2972C20.5917 18.4868 20.6054 18.6975 20.8362 18.7763C20.7646 19.2313 20.8048 19.7592 20.6814 20.2464C20.3437 21.5784 19.1777 22.2562 18.6277 23.3842C18.2346 24.1898 18.1662 25.1639 17.7799 25.9706C17.4995 26.142 15.3877 25.5334 14.8274 25.5057C14.0372 25.4671 11.8211 26.1262 11.3562 25.8154C11.2168 25.7224 10.5382 23.5952 10.2877 23.1453C9.57427 21.8618 7.88932 20.7019 8.20243 19.0168C8.33157 18.3219 8.95886 16.9824 9.21091 16.2274C9.37976 15.7217 9.31709 14.9766 9.78283 14.6297C9.8347 14.5911 10.3553 14.3323 10.3891 14.3272C10.8726 14.2511 12.989 14.9938 13.8459 15.0541C15.8926 15.1984 17.0178 14.6728 18.8929 14.3272L18.8924 14.327ZM9.66045 19.7365C10.1732 19.9751 10.6708 20.2405 11.209 20.429C11.5253 20.5397 13.1984 21.1333 13.3035 20.6381C13.3894 20.2335 12.3752 20.3478 12.0829 20.2856C11.3954 20.1392 10.6919 19.7493 10.0768 19.6249C9.96167 19.6016 9.62533 19.534 9.66072 19.7365H9.66045ZM19.0137 19.619C18.3435 19.6619 17.7464 20.0274 17.0945 20.1834C16.7439 20.2673 15.4153 20.2807 15.4912 20.6381C15.6141 21.2181 18.002 20.3075 18.3664 20.1196C18.5828 20.0078 18.8962 19.837 19.0137 19.619ZM12.0891 21.1797C11.8627 20.6242 11.2919 20.9036 10.8426 20.7915C10.6179 20.7354 10.0235 20.0989 9.90305 20.2196C10.1694 21.1221 11.2841 21.2226 12.0891 21.1797ZM18.8916 20.2196L17.9474 20.7867L16.5848 21.0593C17.4211 21.0864 18.5847 21.1931 18.8916 20.2193V20.2196ZM16.4621 21.6626C15.9275 21.6653 15.4679 22.0095 15.4831 22.5586C15.4906 22.8321 15.6835 23.4225 15.8837 22.9517L16.4621 21.6626ZM13.79 24.7872C13.6909 24.5537 13.3032 24.388 13.0636 24.3663C13.3372 24.5086 13.431 24.8775 13.79 24.7872ZM15.9761 24.4287C15.2326 24.6858 14.8952 24.9794 14.0653 24.8153C13.7038 24.744 13.9065 25.1575 14.4562 25.1505C14.9622 25.1441 15.6924 24.858 15.9764 24.4287H15.9761Z" fill="#F5E1D2"/>
      <path d="M9.53964 13.8461C9.65689 13.8762 10.2299 14.2258 10.3901 14.3271C10.3566 14.3325 9.83573 14.5909 9.78386 14.6296C9.31811 14.9765 9.38079 15.7216 9.21194 16.2272C8.95962 16.9823 8.33259 18.3218 8.20346 19.0167C8.0357 18.3504 7.86928 17.4697 7.84092 16.7916C7.78553 15.4779 8.19806 15.5784 8.78915 14.6065C9.04364 14.1882 8.88236 13.6772 9.53991 13.8461H9.53964Z" fill="#EFC6B4"/>
      <path d="M20.1075 14.2059C20.2255 14.6604 21.1343 15.5108 21.1981 15.8315C21.3321 16.5034 20.9471 18.0708 20.8363 18.7754C20.6056 18.6966 20.5921 18.4858 20.5305 18.2963C20.2671 17.4828 19.9113 15.7819 19.5944 15.1344C19.4407 14.8202 19.0512 14.6464 18.8926 14.326C19.2848 14.2536 19.6479 14.1276 20.1075 14.2059Z" fill="#EFC6B4"/>
      <path d="M15.3098 26.3516C15.3385 26.35 16.1535 26.0779 15.7351 26.4706C15.5727 26.6229 14.3051 26.5988 14.0074 26.558C13.8848 26.5412 13.5225 26.5243 13.5482 26.3519C14.1317 26.3291 14.726 26.3835 15.3096 26.3519L15.3098 26.3516Z" fill="#EFA88F"/>
      <path d="M9.66076 19.736C9.62564 19.5336 9.96171 19.6011 10.0768 19.6245C10.6919 19.7489 11.3954 20.1387 12.083 20.2851C12.3753 20.3473 13.3894 20.2331 13.3035 20.6377C13.1984 21.1329 11.5254 20.5393 11.209 20.4285C10.6709 20.24 10.1732 19.9746 9.66049 19.736H9.66076Z" fill="#625552"/>
      <path d="M19.0139 19.6187C18.8964 19.8366 18.583 20.0074 18.3667 20.1192C18.0025 20.3074 15.6146 21.2177 15.4914 20.6378C15.4155 20.2801 16.7441 20.2667 17.0948 20.183C17.7466 20.027 18.3434 19.6616 19.0139 19.6187Z" fill="#625552"/>
      <path d="M16.4638 21.6621L15.8854 22.9512C15.6852 23.422 15.4923 22.8316 15.4847 22.5581C15.4696 22.0088 15.9291 21.6645 16.4638 21.6621Z" fill="#EFC6B4"/>
      <path d="M12.5977 21.7827C13.5302 21.6368 13.8839 22.3538 13.3868 23.1024L12.5977 21.7827Z" fill="#EFC6B4"/>
      <path d="M12.0904 21.1799C11.2853 21.2228 10.1707 21.1222 9.9043 20.2198C10.0248 20.0991 10.6191 20.7356 10.8439 20.7917C11.2932 20.9037 11.8643 20.6244 12.0904 21.1799Z" fill="#625552"/>
      <path d="M18.8928 20.2192C18.5859 21.193 17.4221 21.0863 16.5859 21.0592L17.9486 20.7866L18.8928 20.2195V20.2192Z" fill="#625552"/>
      <path d="M16.707 12.2827C16.7478 12.2422 16.7856 12.2017 16.8286 12.1626C16.7881 12.2009 16.7465 12.243 16.707 12.2827Z" fill="#625552"/>
      <path d="M16.5859 12.4028C16.6262 12.3618 16.6667 12.3227 16.7075 12.2827C16.667 12.324 16.6321 12.3661 16.5859 12.4028Z" fill="#625552"/>
      <path d="M12.9766 24.3101C12.9766 24.3101 14.5834 24.8613 16.1906 24.3101C16.1906 24.3101 14.6159 26.5258 12.9766 24.3101Z" fill="#EFC6B4"/>
      <path d="M9.00596 11.6389C9.00596 11.6389 8.57858 13.4632 9.03459 13.8203C9.49088 14.1777 11.3957 14.544 11.7756 14.6456C12.1554 14.7472 11.4463 13.1101 11.4463 13.1101C11.4463 13.1101 10.0417 11.059 9.00596 11.6389Z" fill="#ECD4C2"/>
      <path d="M11.8062 14.7446C11.7881 14.7446 11.7694 14.7422 11.7505 14.7371C11.6754 14.717 11.5406 14.6864 11.3688 14.6478C10.3957 14.4282 9.32777 14.1711 8.97522 13.8946C8.48597 13.5118 8.8677 11.8106 8.91281 11.6178L8.92227 11.5776L8.95874 11.5572C10.0596 10.9408 11.4652 12.971 11.5247 13.0573C11.7573 13.5901 12.1066 14.4875 11.9296 14.6901C11.8986 14.7261 11.8551 14.7446 11.8064 14.7446H11.8062ZM9.08814 11.7023C8.93254 12.39 8.80124 13.5182 9.09274 13.7467C9.44096 14.0196 10.7715 14.3196 11.4107 14.4636C11.5787 14.5014 11.7124 14.5317 11.7902 14.5521C11.8302 14.399 11.6057 13.7188 11.358 13.1474C11.3534 13.1434 10.0358 11.2395 9.08787 11.702L9.08814 11.7023Z" fill="#5B4B43"/>
      <path d="M20.4747 11.5086C20.4747 11.5086 20.726 13.8717 20.2697 14.2289C19.8134 14.5863 17.781 14.6479 17.4009 14.7496C17.0211 14.8512 17.7303 13.2141 17.7303 13.2141C17.7303 13.2141 19.4384 10.9284 20.4745 11.5083L20.4747 11.5086Z" fill="#F9DCCD"/>
      <path d="M17.3707 14.8488C17.3221 14.8488 17.2786 14.83 17.2476 14.7944C17.0706 14.5917 17.4199 13.6943 17.6439 13.1777C17.7268 13.0626 19.4263 10.8118 20.5221 11.4271L20.5648 11.451L20.5699 11.4993C20.5961 11.7465 20.8128 13.9249 20.3292 14.3035C19.9931 14.5668 18.9268 14.6729 18.1485 14.7504C17.8206 14.7831 17.5372 14.8113 17.4264 14.841C17.4072 14.8461 17.3886 14.8485 17.3707 14.8485V14.8488ZM20.0974 11.5078C19.1381 11.5078 17.8222 13.2511 17.8073 13.271C17.5412 13.8914 17.3513 14.5134 17.3864 14.656C17.5245 14.6231 17.793 14.5963 18.1293 14.5627C18.842 14.4917 19.9191 14.3844 20.2114 14.1555C20.5083 13.9228 20.477 12.468 20.3859 11.5692C20.2952 11.5269 20.1984 11.5076 20.0977 11.5076L20.0974 11.5078Z" fill="#5B4B43"/>
      <path d="M9.22266 11.6668C9.22266 11.6668 14.6881 10.2675 20.2692 11.5097C20.2692 11.5097 18.4949 12.8379 17.6107 14.3477C17.4194 14.6743 17.0893 14.8936 16.7132 14.9509C15.8076 15.089 14.117 15.2628 12.7074 14.929C12.7074 14.929 11.6827 14.7893 11.191 13.8211C10.7031 12.8607 9.81321 12.0288 9.22266 11.6671V11.6668Z" fill="#A9968B"/>
      <path d="M14.5785 15.2457C13.9499 15.2457 13.2877 15.195 12.6772 15.0505C12.645 15.0468 11.5931 14.8926 11.0771 13.877C10.6076 12.9523 9.75171 12.1383 9.15548 11.7734L8.90234 11.6184L9.19033 11.5444C9.24544 11.5304 14.7498 10.1518 20.2963 11.3862L20.5635 11.4457L20.345 11.6095C20.3274 11.6227 18.5806 12.9405 17.7199 14.41C17.5097 14.7685 17.1499 15.0106 16.7322 15.0744C16.2162 15.1529 15.4282 15.2457 14.5788 15.2457H14.5785ZM9.53342 11.7235C10.1313 12.1565 10.8726 12.9161 11.3032 13.7638C11.7579 14.6585 12.7145 14.8022 12.7242 14.8036C14.129 15.1358 15.8134 14.9602 16.6933 14.8258C17.0348 14.7736 17.3292 14.576 17.5005 14.2837C18.2145 13.0643 19.4764 11.9801 19.9792 11.5752C15.2923 10.6014 10.6956 11.4693 9.53369 11.7232L9.53342 11.7235Z" fill="#5B4B43"/>
      <path d="M11.2504 4.49644C13.5251 4.51441 15.7996 4.5321 18.0743 4.55007C18.1402 4.5506 18.1672 4.46776 18.1145 4.42861C17.6823 4.10714 17.1058 3.76932 16.3812 3.55349C14.0041 2.8454 11.8831 3.99936 11.224 4.40716C11.1824 4.4329 11.2016 4.49618 11.2504 4.49644Z" fill="#F9DCCD"/>
      <path d="M18.0742 4.64406H18.0729L11.2494 4.59044C11.1843 4.5899 11.1289 4.54808 11.111 4.48641C11.0935 4.42501 11.1183 4.36093 11.1729 4.32688C11.968 3.83516 14.0681 2.76619 16.4079 3.46302C17.0355 3.64963 17.6285 3.94911 18.171 4.35289C18.2277 4.39498 18.2509 4.46791 18.2282 4.5344C18.2058 4.6009 18.1453 4.64406 18.0742 4.64406ZM11.4131 4.40303L17.9902 4.45451C17.4837 4.08907 16.9337 3.81639 16.3536 3.64373C14.2127 3.00535 12.2724 3.89924 11.4131 4.40303Z" fill="#5B4B43"/>
      <path d="M11.2758 4.79779C12.1657 4.68277 14.9526 4.38597 17.8754 4.7313C18.4857 4.80342 19.0279 5.15358 19.3426 5.67747C19.7297 6.32148 20.1488 7.37893 20.2198 8.99324C20.2198 8.99324 15.0429 9.99116 9.22267 8.89538C9.22267 8.89538 9.20511 6.06812 10.5275 5.08065C10.7439 4.91898 11.0073 4.83238 11.2758 4.79752V4.79779Z" fill="#F9DCCD"/>
      <path d="M14.952 9.50049C13.2463 9.50049 11.2609 9.37555 9.20426 8.98813L9.12753 8.97365L9.12699 8.8959C9.12618 8.77873 9.12456 6.00965 10.4699 5.00556C10.6833 4.84603 10.9503 4.74468 11.2631 4.70447C12.0676 4.60017 14.9231 4.28701 17.8859 4.63824C18.5208 4.71305 19.0954 5.08358 19.4236 5.62946C19.7891 6.23808 20.2403 7.31536 20.314 8.98947L20.3176 9.07071L20.2371 9.08626C20.2036 9.09269 18.0331 9.50076 14.9515 9.50076L14.952 9.50049ZM9.31826 8.81734C14.6295 9.80105 19.4436 9.03317 20.1206 8.91547C20.038 7.32743 19.6092 6.30591 19.2607 5.72598C18.9627 5.22997 18.4405 4.89322 17.864 4.82512C14.9229 4.47791 12.0871 4.78785 11.288 4.89134C11.0083 4.92754 10.7717 5.01628 10.5847 5.15624C9.43578 6.01367 9.32826 8.36047 9.31853 8.81734H9.31826Z" fill="#5B4B43"/>
      <path d="M9.19626 9.06716C9.19626 9.06716 16.1233 10.001 20.2182 9.11435L20.4546 11.3587C20.4546 11.3587 12.9544 10.8008 9.00391 11.5091C9.00391 11.5091 9.05064 9.54467 9.19626 9.06689V9.06716Z" fill="#F9DCCD"/>
      <path d="M8.90625 11.6231L8.90895 11.5073C8.91084 11.4266 8.95758 9.52459 9.10535 9.04011L9.12886 8.96289L9.20936 8.97362C9.27852 8.983 16.1664 9.89512 20.1984 9.02214L20.3021 8.99962L20.5615 11.4612L20.4477 11.4529C20.3729 11.4472 12.9151 10.904 9.02107 11.6022L8.90652 11.6229L8.90625 11.6231ZM9.26745 9.17175C9.16127 9.65355 9.114 10.9947 9.10211 11.3966C12.7794 10.7708 19.4012 11.1923 20.3483 11.2571L20.1346 9.22886C16.3036 10.0198 10.0639 9.27229 9.26745 9.17175Z" fill="#5B4B43"/>
      <path d="M15.0503 13.2553C12.0154 13.2553 9.5222 11.8469 9.48438 11.825L9.58001 11.6619C9.63701 11.6944 15.3224 14.9029 19.9172 11.5137L20.0306 11.6649C18.4078 12.8623 16.6534 13.2553 15.0506 13.2553H15.0503Z" fill="#5B4B43"/>
      <path d="M14.6718 8.85292C16.6825 8.85292 18.3124 8.02682 18.3124 7.00776C18.3124 5.9887 16.6825 5.1626 14.6718 5.1626C12.6612 5.1626 11.0312 5.9887 11.0312 7.00776C11.0312 8.02682 12.6612 8.85292 14.6718 8.85292Z" fill="#A9968B"/>
      <path d="M14.6716 8.97844C12.559 8.97844 10.9043 8.11243 10.9043 7.00753C10.9043 5.90263 12.5593 5.03662 14.6716 5.03662C16.7839 5.03662 18.4389 5.90263 18.4389 7.00753C18.4389 8.11243 16.7839 8.97844 14.6716 8.97844ZM14.6716 5.28784C12.734 5.28784 11.1577 6.05921 11.1577 7.00726C11.1577 7.95531 12.734 8.72668 14.6716 8.72668C16.6091 8.72668 18.1855 7.95531 18.1855 7.00726C18.1855 6.05921 16.6091 5.28784 14.6716 5.28784Z" fill="#5B4B43"/>
      <path d="M9.99721 13.4878H9.81418V12.9867C9.81418 12.9729 9.81437 12.9559 9.81477 12.9357C9.81516 12.9152 9.81576 12.8943 9.81655 12.873C9.81733 12.8512 9.81812 12.8317 9.81891 12.8143C9.81457 12.8194 9.80569 12.8283 9.79226 12.841C9.77923 12.8532 9.76699 12.8643 9.75554 12.8741L9.65602 12.9541L9.56777 12.8439L9.84675 12.6218H9.99721V13.4878Z" fill="#483C3A"/>
      <path d="M19.6847 13.6875H19.5017V13.1864C19.5017 13.1726 19.5019 13.1556 19.5023 13.1354C19.5027 13.1149 19.5033 13.094 19.504 13.0727C19.5048 13.0509 19.5056 13.0314 19.5064 13.014C19.5021 13.0192 19.4932 13.028 19.4798 13.0407C19.4667 13.0529 19.4545 13.064 19.443 13.0738L19.3435 13.1538L19.2553 13.0436L19.5343 12.8215H19.6847V13.6875Z" fill="#483C3A"/>
      <path d="M14.9625 10.3117H14.8583V10.4912H14.6794V10.3117H14.3098V10.1844L14.6895 9.62522H14.8583V10.1696H14.9625V10.3117ZM14.6794 10.1696V10.0227C14.6794 10.0089 14.6796 9.99247 14.68 9.97351C14.6808 9.95456 14.6816 9.9356 14.6824 9.91665C14.6832 9.89769 14.684 9.88091 14.6847 9.8663C14.6859 9.8513 14.6867 9.84083 14.6871 9.83491H14.6824C14.6749 9.8511 14.667 9.86689 14.6587 9.88229C14.6504 9.8973 14.6407 9.9131 14.6297 9.92968L14.4709 10.1696H14.6794Z" fill="#483C3A"/>
      <path d="M19.0473 7.541C19.1002 7.541 19.1472 7.55107 19.1883 7.57121C19.2297 7.59135 19.2623 7.62097 19.286 7.66006C19.3097 7.69915 19.3215 7.74733 19.3215 7.80459C19.3215 7.86698 19.3085 7.92088 19.2824 7.96629C19.2568 8.01131 19.2183 8.04586 19.1669 8.06995C19.116 8.09404 19.0524 8.10608 18.9762 8.10608C18.9308 8.10608 18.8879 8.10214 18.8477 8.09424C18.8078 8.08674 18.7728 8.07509 18.7428 8.05929V7.90114C18.7728 7.91693 18.8088 7.93036 18.8506 7.94142C18.8929 7.95208 18.9326 7.95741 18.9697 7.95741C19.006 7.95741 19.0366 7.95267 19.0615 7.94319C19.0864 7.93332 19.1051 7.91832 19.1178 7.89818C19.1308 7.87764 19.1373 7.85158 19.1373 7.81999C19.1373 7.77774 19.1231 7.74535 19.0947 7.72285C19.0662 7.70034 19.0226 7.68908 18.9638 7.68908C18.9413 7.68908 18.9178 7.69126 18.8933 7.6956C18.8692 7.69994 18.8491 7.70429 18.8329 7.70863L18.76 7.66954L18.7926 7.22825H19.2623V7.38344H18.9531L18.9371 7.55344C18.9505 7.55068 18.9651 7.54791 18.9809 7.54515C18.9967 7.54238 19.0189 7.541 19.0473 7.541Z" fill="#483C3A"/>
      <path d="M10.059 7.541C10.1119 7.541 10.1589 7.55107 10.2 7.57121C10.2414 7.59135 10.274 7.62097 10.2977 7.66006C10.3214 7.69915 10.3333 7.74733 10.3333 7.80459C10.3333 7.86698 10.3202 7.92088 10.2942 7.96629C10.2685 8.01131 10.23 8.04586 10.1787 8.06995C10.1277 8.09404 10.0641 8.10608 9.98792 8.10608C9.94251 8.10608 9.89967 8.10214 9.85939 8.09424C9.8195 8.08674 9.78456 8.07509 9.75455 8.05929V7.90114C9.78456 7.91693 9.82049 7.93036 9.86235 7.94142C9.9046 7.95208 9.94429 7.95741 9.98141 7.95741C10.0177 7.95741 10.0483 7.95267 10.0732 7.94319C10.0981 7.93332 10.1169 7.91832 10.1295 7.89818C10.1425 7.87764 10.149 7.85158 10.149 7.81999C10.149 7.77774 10.1348 7.74535 10.1064 7.72285C10.078 7.70034 10.0343 7.68908 9.97549 7.68908C9.95298 7.68908 9.92948 7.69126 9.905 7.6956C9.88091 7.69994 9.86077 7.70429 9.84458 7.70863L9.77172 7.66954L9.8043 7.22825H10.274V7.38344H9.96482L9.94883 7.55344C9.96226 7.55068 9.97687 7.54791 9.99266 7.54515C10.0085 7.54238 10.0306 7.541 10.059 7.541Z" fill="#483C3A"/>
      <path d="M14.4895 4.29932L14.7334 3.76533H14.4131V3.64982H14.8791V3.73601L14.6335 4.29932H14.4895Z" fill="#483C3A"/>
      <path d="M14.8434 14.2866H14.238V14.1593L14.4554 13.9395C14.4992 13.8945 14.5344 13.857 14.5608 13.827C14.5877 13.7966 14.607 13.7689 14.6189 13.744C14.6311 13.7192 14.6373 13.6925 14.6373 13.6641C14.6373 13.6297 14.6276 13.6041 14.6082 13.5871C14.5893 13.5697 14.5638 13.561 14.5318 13.561C14.4983 13.561 14.4657 13.5687 14.4341 13.5841C14.4025 13.5995 14.3695 13.6214 14.3352 13.6499L14.2357 13.532C14.2605 13.5107 14.2868 13.4905 14.3144 13.4716C14.3425 13.4526 14.3749 13.4374 14.4116 13.426C14.4487 13.4141 14.4931 13.4082 14.5449 13.4082C14.6017 13.4082 14.6505 13.4185 14.6912 13.439C14.7322 13.4595 14.7638 13.4876 14.7859 13.5231C14.808 13.5583 14.8191 13.5981 14.8191 13.6428C14.8191 13.6905 14.8096 13.7342 14.7907 13.7737C14.7717 13.8132 14.7441 13.8522 14.7077 13.8909C14.6718 13.9296 14.6284 13.9725 14.5774 14.0195L14.4661 14.1243V14.1326H14.8434V14.2866Z" fill="white"/>
      <path d="M14.8096 11.6168C14.8096 11.6566 14.8013 11.6912 14.7847 11.7204C14.7682 11.7496 14.7457 11.7735 14.7172 11.7921C14.6892 11.8107 14.6576 11.8243 14.6224 11.833V11.8365C14.6919 11.8452 14.7447 11.8665 14.7806 11.9005C14.8169 11.9345 14.8351 11.9799 14.8351 12.0367C14.8351 12.0873 14.8227 12.1325 14.7978 12.1724C14.7733 12.2123 14.7354 12.2437 14.6841 12.2666C14.6327 12.2895 14.5666 12.3009 14.4856 12.3009C14.4378 12.3009 14.3932 12.297 14.3518 12.2891C14.3107 12.2816 14.272 12.2699 14.2357 12.2541V12.0983C14.2728 12.1173 14.3117 12.1317 14.3523 12.1416C14.393 12.151 14.4309 12.1558 14.4661 12.1558C14.5316 12.1558 14.5774 12.1445 14.6035 12.122C14.63 12.0991 14.6432 12.0671 14.6432 12.0261C14.6432 12.002 14.6371 11.9816 14.6248 11.9651C14.6126 11.9485 14.5913 11.9358 14.5608 11.9271C14.5308 11.9185 14.4888 11.9141 14.4347 11.9141H14.3689V11.7737H14.4359C14.4892 11.7737 14.5296 11.7688 14.5573 11.7589C14.5853 11.7487 14.6043 11.7348 14.6142 11.7175C14.6244 11.6997 14.6296 11.6796 14.6296 11.657C14.6296 11.6262 14.6201 11.6022 14.6011 11.5848C14.5822 11.5674 14.5506 11.5587 14.5064 11.5587C14.4787 11.5587 14.4534 11.5623 14.4305 11.5694C14.408 11.5761 14.3877 11.5844 14.3695 11.5943C14.3514 11.6037 14.3354 11.613 14.3215 11.6221L14.2368 11.4959C14.2708 11.4714 14.3105 11.4511 14.3559 11.4349C14.4017 11.4187 14.4562 11.4106 14.5194 11.4106C14.6086 11.4106 14.6793 11.4286 14.7314 11.4645C14.7836 11.5005 14.8096 11.5512 14.8096 11.6168Z" fill="white"/>
      <path d="M14.2321 6.82796C14.2321 6.77821 14.2357 6.72904 14.2428 6.68047C14.2503 6.63151 14.2631 6.5855 14.2813 6.54246C14.2994 6.49902 14.3249 6.46072 14.3577 6.42755C14.3905 6.39398 14.4321 6.36772 14.4827 6.34877C14.5332 6.32942 14.5944 6.31974 14.6663 6.31974C14.6833 6.31974 14.703 6.32053 14.7255 6.32211C14.7484 6.3233 14.7674 6.32547 14.7824 6.32863V6.47493C14.7666 6.47138 14.7496 6.46861 14.7314 6.46664C14.7137 6.46427 14.6959 6.46309 14.6781 6.46309C14.6063 6.46309 14.5506 6.47454 14.5111 6.49744C14.472 6.52035 14.4444 6.55213 14.4282 6.59281C14.4124 6.63309 14.4031 6.68008 14.4003 6.73378H14.408C14.4191 6.71443 14.4329 6.69725 14.4495 6.68225C14.4665 6.66724 14.487 6.6554 14.5111 6.64671C14.5352 6.63763 14.5634 6.63309 14.5958 6.63309C14.6463 6.63309 14.6902 6.64395 14.7273 6.66566C14.7644 6.68699 14.793 6.71799 14.8132 6.75866C14.8333 6.79933 14.8434 6.84889 14.8434 6.90734C14.8434 6.96973 14.8313 7.02343 14.8073 7.06845C14.7832 7.11347 14.749 7.14802 14.7048 7.17211C14.6609 7.1958 14.6088 7.20765 14.5484 7.20765C14.5042 7.20765 14.4629 7.20014 14.4246 7.18514C14.3863 7.16974 14.3527 7.14644 14.3239 7.11524C14.2951 7.08405 14.2726 7.04476 14.2564 6.99737C14.2402 6.94959 14.2321 6.89312 14.2321 6.82796ZM14.5449 7.06134C14.5808 7.06134 14.61 7.0491 14.6325 7.02462C14.655 7.00013 14.6663 6.96183 14.6663 6.9097C14.6663 6.86745 14.6564 6.83428 14.6367 6.81019C14.6173 6.78571 14.5879 6.77347 14.5484 6.77347C14.5216 6.77347 14.4979 6.77959 14.4773 6.79183C14.4572 6.80368 14.4416 6.81888 14.4305 6.83744C14.4195 6.8556 14.4139 6.87436 14.4139 6.89371C14.4139 6.91385 14.4167 6.93379 14.4222 6.95354C14.4278 6.97328 14.4361 6.99125 14.4471 7.00744C14.4582 7.02363 14.4718 7.03666 14.488 7.04653C14.5046 7.05641 14.5235 7.06134 14.5449 7.06134Z" fill="white"/>
      <path d="M1 4V2C1 1.44772 1.44772 1 2 1H4" stroke="#0071E3"/>
      <path d="M29 26V28C29 28.5523 28.5523 29 28 29H26" stroke="#0071E3"/>
      <path d="M26 1L28 1C28.5523 1 29 1.44772 29 2L29 4" stroke="#0071E3"/>
      <path d="M4 29L2 29C1.44772 29 1 28.5523 1 28L1 26" stroke="#0071E3"/>
      </svg></span>
   {t.topBanner}
</div>

<script>
  // Sayfa yüklendikten sonra kaydırma olayını dinlemeye başla
  window.addEventListener('scroll', showBannerOnScroll);
  
  // Herhangi bir kaydırma olup olmadığını kontrol etmek için değişken
  let isScrolled = false;
  
  function showBannerOnScroll() {
      const banner = document.getElementById("scrollBanner");
      
      // Check if banner exists
      if (!banner) return;
      
      // Kaydırma algılandığında (1px bile olsa) banner'ı göster
      if (window.pageYOffset > 1 && !isScrolled) {
          banner.classList.add("visible");
          isScrolled = true;
      } 
      // Sayfanın en üstüne döndüğünde banner'ı gizle
      else if (window.pageYOffset === 0) {
          banner.classList.remove("visible");
          isScrolled = false;
      }
  }
  
  // Function to redirect to graft calculator with UTM parameters preserved
  function redirectToGraftWithUTM() {
    const currentUrl = new URL(window.location.href);
    const utmParams = new URLSearchParams();
    
    // List of UTM parameters to preserve
    const utmKeys = [
      'utm_source',
      'utm_medium', 
      'utm_campaign',
      'utm_term',
      'utm_content',
      'utm_id',
      'utm_source_platform',
      'utm_creative_format',
      'utm_marketing_tactic',
      'gclid',
      'fbclid',
      'msclkid',
      'ttclid',
      'twclid',
      'li_fat_id',
      'gad_source',
      'gbraid',
      'wbraid'
    ];
    
    // Extract UTM parameters from current URL
    utmKeys.forEach(key => {
      const value = currentUrl.searchParams.get(key);
      if (value) {
        utmParams.append(key, value);
      }
    });
    
    // Construct the graft calculator URL with UTM parameters
    const graftBaseUrl = 'https://graft.medarthair.com';
    const graftUrl = utmParams.toString() ? 
      `${graftBaseUrl}?${utmParams.toString()}` : 
      graftBaseUrl;
    
    // Redirect to graft calculator
    window.location.href = graftUrl;
  }
</script>

<div id="header">
  <div class="logo">
    <img  src="/D-logo.webp" alt="Astro Logo" />
  </div>

  <div class="header-container">
    <div class="container-item left-container">
      <div class="container-top">
      <h2>{t.hairTransplant}</h2>
      <h1>{t.turkey}</h1>

      <ul>
        <li style="--i: 1">
          <svg
            width="15"
            height="14"
            viewBox="0 0 15 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2.6125 13.0625L3.7125 8.25L0 4.95L4.95 4.5375L6.875 0L8.8 4.5375L13.75 4.95L11.55 6.875H11C8.86875 6.875 7.15 8.45625 6.875 10.5187L2.6125 13.0625ZM10.8625 13.2L14.1625 9.9L13.2687 8.9375L10.7938 11.4125L9.7625 10.3125L8.9375 11.1375L10.8625 13.2Z"
            ></path></svg
          > <span>{t.successfulTreatments}</span>
        </li>
        <li style="--i: 2">
          <svg
            width="15"
            height="14"
            viewBox="0 0 15 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2.6125 13.0625L3.7125 8.25L0 4.95L4.95 4.5375L6.875 0L8.8 4.5375L13.75 4.95L11.55 6.875H11C8.86875 6.875 7.15 8.45625 6.875 10.5187L2.6125 13.0625ZM10.8625 13.2L14.1625 9.9L13.2687 8.9375L10.7938 11.4125L9.7625 10.3125L8.9375 11.1375L10.8625 13.2Z"
            ></path></svg
          > <span>{t.satisfaction}</span>
        </li>
        
        <li style="--i: 3">
          <svg
            width="15"
            height="14"
            viewBox="0 0 15 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2.6125 13.0625L3.7125 8.25L0 4.95L4.95 4.5375L6.875 0L8.8 4.5375L13.75 4.95L11.55 6.875H11C8.86875 6.875 7.15 8.45625 6.875 10.5187L2.6125 13.0625ZM10.8625 13.2L14.1625 9.9L13.2687 8.9375L10.7938 11.4125L9.7625 10.3125L8.9375 11.1375L10.8625 13.2Z"
            ></path></svg
          > <span>{t.freeConsultation}</span>
        </li>
      </ul>
    </div>

    <div class="container-bottom">
      <img  src="/media-site.webp" class="desktop" alt="media" />
    </div>

    </div>

    <div class="container-item right-container">
      <Form  t={t}  client:load />

      <div class="trustable"> 
        <img loading="lazy" src="/trustable/google-yorum.webp" alt="hair" />
        <img loading="lazy" src="/trustable/trust.webp" alt="hair" />
        <img  src="/media-twocols.webp" class="mobile" alt="hair" />
      </div>
    </div>
  </div>
</div>
